
@{
    ViewBag.Title = "Cambio ciudad";
}

<h2>Cambiar datos de contacto</h2>
<hr />
<div class="form-horizontal">
    <div class="form-group" style="margin-left:50px;margin-top:20px;">
        <p> No se ha realizado ningún cambio. La ciudad introducida coincide con la ciudad almacenada.  </p>

     
    </div>


</div>


<div style="margin-bottom:20px;">
    @Html.ActionLink("Volver", "Index", "Manage")
</div>


