@model WebApplication2.Models.Categoria

@{
    ViewBag.Title = "Borrado";
}

<h2>Borrado de Categoría</h2>

<h3>¿Está seguro de que desea eliminar la categoría?</h3>

<div>
 
    <hr />
   
    <dl class="dl-horizontal">
        <dt>
            <p>Descripción</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    <p style="color:red">@ViewBag.Mensaje</p>
        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
