
@{
    ViewBag.Title = "EliminarCategoria";
}
<h2>Eliminar Categoría</h2>
<hr />
<div class="form-horizontal">
    <div class="form-group" style="margin-left:50px;margin-top:20px;">
        <p> No se puede eliminar la categoría ya que existen anuncios dados de alta en la categoría  </p>

      
    </div>


</div>


<div style="margin-bottom:20px;">
    @Html.ActionLink("Volver al listado", "Index", "Categorias")
</div>

