@{
    ViewBag.Title = "Conócenos";
}
<h2>@ViewBag.Title.</h2>
<hr />

<p>Mis Anuncios es una iniciativa creada en 2001 con la intención de ayudar a los Aútónomos de distintas áreas de actividad a 
    ofrecer sus servicios. De esta manera pueden darse a conocer de una forma más económica y efectiva. Más de 4.000 autónomos utilizan ya nuestra página.</p>

