@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<hr />
<address>
   C/Sevilla 44<br />
    282365, Madrid<br />
    <abbr title="Phone">Tlf:</abbr>
    902 10 14 44
</address>

<address>
    <strong></strong>   <a href="mailto:Support@example.com">misAnuncios@misAnuncios.com</a><br />
   
</address>

<p><a href="https://www.google.es/maps">Acceder a Google Maps</a><br /></p>