@{
    ViewBag.Title = "Página de Inicio";
}

<h1>Mis Anuncios</h1>



<hr />


<h3>Bienvenido a Mis Anuncios, tu web de servicios</h3>

<h4><u>Si buscas servicios</u></h4>
<p> En esta web encontrarás anuncios de los mejores profesionales de tu ciudad.  </p>
<ul>
    <li> <b>Calidad:</b> todos los anuncios son verificados por expertos</li>
    <li> <b>Cercanía:</b> busca servicios en tu ciudad  </li>
    <li> <b>Comodidad:</b> en solo dos clicks tendrás acceso a los mejores servicios  </li>
</ul>
<p><font style="color:darkgray;margin-left:15px;"><b>¡Comienza ya a</font> @Html.ActionLink("Buscar Anuncios", "Buscar", "Anuncios")<font style="color:darkgray">!</b></font></p>
<h4><u>Si quieres ofrecer tus servicios</u></h4>
<p> Si eres autónomo y quieres darte a conocer regístrate y comienza a publicar tus anuncios en unos instanstes. </p>
<p>Más de 4000 autónomos ya utilizan nuestra web. </p>
<p><font style="color:darkgray;margin-left:15px;"><b>¡</font> @Html.ActionLink("Regístrate", "Registro", "Account")<font style="color:darkgray"> y empieza a publicar anuncios!</b></font></p>
       



       